@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #000;
  color: #fff;
}

:root {
  --sh-class: #000;
  --sh-identifier: #000;
  --sh-sign: #000;
  --sh-string: #000;
  --sh-keyword: #000;
  --sh-comment: #666;
  --sh-jsxliterals: #000;
  --sh-property: #000;
  --sh-entity: #000;
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose a {
  @apply underline decoration-black underline-offset-2 decoration-1;
}

.prose .anchor:after {
  @apply text-black;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 overflow-x-auto border border-black py-3 px-4 text-sm;
}

.prose code {
  @apply px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-black;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-semibold;
}

.prose ul {
  @apply list-none p-0 m-0;
}

.prose li {
    @apply relative pl-6;
}

.prose li::before {
    content: '•';
    @apply absolute left-0 text-lg;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] > summary {
  margin-bottom: 1rem;
}
